# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env
.env.production
.env.local

# editor / os
.DS_Store
*.pem
.idea/
.vscode/*
!.vscode/extensions.json

# typescript
*.tsbuildinfo
